body {
  font-family: 'Asap', 'Trebuchet MS', Arial, sans-serif;
  font-size: larger;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

.container {
  margin: auto;
  /* margin-top: %; */
  padding: 20px;
  max-width: 350px;
  border-radius: 10px;
  background-color: #668cff;
  text-align: center; 
}

.container h1 {
  font-family: 'Asap', 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.45em;
}

input {
  display: block; 
  box-sizing: border-box; 
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.button {
  width: 70px;
  height: 50px;
  border: solid 1px;
  border-radius: 10px;
}
